<!-- <nav class="navbar navbar-expand-lg  sticky-top navbar-light ">
    <a class="navbar-brand" href="#"><img src="/assets/images/cart.png"/>Hitop <span>shopping</span></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">{{"navbar.home"|translate}} <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">{{"navbar.home"|translate}} <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" routerLink="/pricing" routerLinkActive="active" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            {{"navbar.pricing"|translate}}
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" routerLink="">Action</a>
            <a class="dropdown-item" routerLink="">Another action</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" routerLink="">Something else here</a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link " routerLink="/contact-us" routerLinkActive="active"tabindex="-1" aria-disabled="true">{{"navbar.contact"|translate}}</a>
        </li>
        <li class="nav-item">
            <a class="nav-link "  routerLink="/blogs" routerLinkActive="active" tabindex="-1" aria-disabled="true">{{"navbar.blogs"|translate}}</a>
        </li>
          <li class="nav-item">
            <a class="nav-link "  routerLink="/login" routerLinkActive="active" tabindex="-1" aria-disabled="true">{{"navbar.login"|translate}}</a>
        </li>
          <li class="nav-item border">
            <a class="nav-link "  tabindex="-1" aria-disabled="true">{{"navbar.lang"|translate}}</a> -->
            <!-- <a class="nav-link "  tabindex="-1" aria-disabled="true">عربى</a>

        </li>
      </ul>
      
        <a class="btn btn-primary my-2 my-sm-0 center"  routerLink="/register" routerLinkActive="active">{{"navbar.register"|translate}}</a>
    </div>
  </nav> --> 



















  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#"><img src="/assets/images/cart.png"/>Hitop <span>shopping</span></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
            <a class="nav-link" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">{{"navbar.home"|translate}} </a>

        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/features" routerLinkActive="active">{{"navbar.features"|translate}}</a>        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" routerLink="/pricing" routerLinkActive="active" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                {{"navbar.pricing"|translate}}
              </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Something else here</a>
          </div>
        </li>
        
        <li class="nav-item">
            <a class="nav-link " routerLink="/contact-us" routerLinkActive="active"tabindex="-1" aria-disabled="true">{{"navbar.contact"|translate}}</a>
          </li>
          <li class="nav-item">
              <a class="nav-link "  routerLink="/blogs" routerLinkActive="active" tabindex="-1" aria-disabled="true">{{"navbar.blogs"|translate}}</a>
          </li>
            <li class="nav-item">
              <a class="nav-link "  routerLink="/login" routerLinkActive="active" tabindex="-1" aria-disabled="true">{{"navbar.login"|translate}}</a>
          </li>
            <li class="nav-item border">
              <!-- <a class="nav-link "  tabindex="-1" aria-disabled="true">{{"navbar.lang"|translate}}</a> -->
              <a class="nav-link "  tabindex="-1" aria-disabled="true">عربى</a>
  
          </li>


      </ul>
      <a class="btn btn-primary my-2 my-sm-0 center"  routerLink="/register" routerLinkActive="active">{{"navbar.register"|translate}}</a>

    </div>
  </nav>